@{
    ViewBag.Title = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide img-fluid banner" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Content/img/carrusel3.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/img/carrusel2.png" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/img/carrusel1.png" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<div class="row  align-items-start text-center texto-index divisiones-index ">
    




    <div class="text-center inner cover divisiones-index ">
        <div class="col-md-6 float-md-left">
            <div class="card-check">
                <div class="card">
                    <img src="~/Content/img/aereos.png" class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="@Url.Action("prodCategoria","Catalogo",new {idCat =2,nombre="Aereos"})" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 float-md-left">
            <div class="card-check">

                <div class="card">
                    <img src="~/Content/img/terrestres.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="@Url.Action("prodCategoria","Catalogo",new {idCat =5,nombre="Terrestres"})" class="btn btn-primary"> Ir </a>

                    </div>
                </div>
            </div>
        </div>


        <div class="text-center inner cover divisiones-index ">
            <div class="col-md-6 float-md-left">
                <div class="card-check">
                    <div class="card">
                        <img src="~/Content/img/maritimos.png" class="card-img-top" alt="..." href="@Url.Action("Maritimo","Subcategoria")">
                        <div class="card-body">
                            <a href="@Url.Action("prodCategoria","Catalogo",new {idCat =3,nombre="Maritimo"})" class="btn btn-primary">Ir</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 float-md-left">
                <div class="card-check">
                    <div class="card">
                        <img src="~/Content/img/infantil.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="@Url.Action("prodCategoria","Catalogo",new {idCat =4,nombre="Infantil"})" class="btn btn-primary">Ir</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>





   
</div>